<template>
  <div>
    <h1> Calculator </h1>

    <CAlert color="primary" 
      fade
      v-if="error"> 
        {{error}} 
    </CAlert>

    <hr />

    <CInput
      v-model="query"
      placeholder="0"
      pattern="[-+\.\/\*\(\)0-9]*"/>

    <CRow class="m-0" style="border: 2px solid #636f83;">
      <CButton :color="color(char)"
          v-for="char in keys" 
          :key="char" 
          class="col-3 btn-square"
          style="border: 1px solid white;"
          v-on:click="press(char)">
        {{char}}
      </CButton>
    </CRow>

  </div>
</template>

<script>
import evaluate from '../evaluation/evaluate'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: function () {
    return {
      keys: [
        "+", "-", "*", "/",
        "7", "8", "9", "CE",
        "4", "5", "6", "AC",
        "1", "2", "3", "=",
        "(",  "0", ")", "."
      ],
      query: "",
      error: "",
    }
  },
  methods : {
    compute: function() {
      this.error = ""
      try {
        this.query = evaluate(this.query).toString()
      } catch (error){
          this.error = error
      }
    },
    press: function (char) {
      switch (char) {

        case 'CE':
          this.query = this.query.slice(0, -1)
          break

        case 'AC':
          this.query = ""
          break
        
        case '=':
          this.compute()
          break

        default:
          this.query += char
          break
      }
    },
    color: function (char) {
      switch (char) {
        case 'CE':
          return "warning"

        case 'AC':
          return "danger"

        case '=':
          return "success"

        default:
          if (isNaN(char))
            return "dark"
          
          return "secondary"
      }
    }
  }
}
</script>
