<template>
  <div class="app">
    <CContainer class="border p-5 shadow-lg calculator">
      <Calculator/>
    </CContainer>
  </div>
</template>

<script>
import Calculator from './components/Calculator.vue'

export default {
  name: 'App',
  components: {
    Calculator
  }
}
</script>

<style scoped>
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.calculator {
  margin: auto;
  max-width: 400px;
}
</style>
